<h1>Quick DNA Translator</h1>
<hr>
<%= form_for @sp, :url=> search_path, :method => :get, :validate => true do |f| %>
  <div class="error">
  	<p><%= flash[:error] %></p>
  </div>
  <p>
    <%= f.label :nucleotide %><br />
    <%= f.text_area :nucleotide, style: 'resize: none;' %>
  </p>
  <p><%= f.submit "Search" %></p>
<% end %>